<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LinkedIn Universities</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
</head>
<body>
    <div class="wrapper">
      <h1>Top 5 Universities Employees in Amman attended</h1>

        <canvas id="myChart" width="1400" height="300"></canvas>
    </div>
    <script>
        var getData = $.get('/getuniversities');
        var ctx = document.getElementById("myChart").getContext('2d');

        getData.done(function(results) {
            var keys = [];
            var values = [];
            for (i = 0; i < results.length; i++) {
                keys.push(Object.keys(results[i]));
                values.push(results[i][Object.keys(results[i])]);
            }
            var ctx = document.getElementById("myChart").getContext('2d');
            var chart = new Chart(document.getElementById("myChart"), {
                type: 'horizontalBar',
                data: {
                    labels: keys,
                    datasets: [
                        {
                            label: "Numbers",
                            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                            data: values
                        }
                    ]
                },
                options: {
                    legend: {display: false},
                    title: {
                        display: true,
                        text: 'Number of People That Attended this University'
                    },
                    scales: {
                        xAxes: [{
                            ticks: {
                                min: 0 // Edit the value according to what you need
                            }
                        }],
                        yAxes: [{
                            stacked: true
                        }]
                    }
                }
            });
        })
    </script>
    <br/>
    <div style="text-align: center;">
        <a href="/">
            <button>Back to Welcome Page</button>
        </a>
    </div>
</body>
</html>