<h2>Temperature and Bluebike Rides</h2>

<div>
	<span>Temperature and:</span>
	<div class="pure-button button-success" onclick="changeToCount()" id="ride-count-button">
		Ride Count
	</div>
	<div class="pure-button" onclick="changeToDuration()" id="ride-duration-button">
		Ride Duration
	</div>
</div>
<br />
<div>
	<span>Line of best fit:</span>
	<div class="pure-button button-success" onclick="bestFitOn()" id="best-fit-on">
		On
	</div>
	<div class="pure-button" onclick="bestFitOff()" id="best-fit-off">
		Off
	</div>
</div>
<div>
	<br />
	<span id="correlation-field">Correlation:</span>
	&nbsp;&nbsp;
	<span id="p-val-field">P-Value:</span>
</div>
<div id="bb-chart-area"></div>
<br />

<h2>Potential New Bluebike Station</h2>
<div id="mapid"></div>
<br />

<h2>Popular BU Bluebike Stations</h2>
<div id="mapid2"></div>
<br />


<br />
<br />
<br />

