<!DOCTYPE html>
<html>

<head>
   
    <!-- <link href="style.css" rel="stylesheet" type="text/css"> -->
    <title>Map example</title>
    <style type="text/css">
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 80%;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body ng-app="map-example" ng-controller="MapController">

      <div class="container">
      <h2>Parameters</h2>
      <form>
        <div class="form-group row">
          <div class="col-xs-2">
            <label for="ex1">K</label>
            <input class="form-control" id="k" type="number" ng-model="k">
          </div>
          <div class="col-xs-2">
            <label for="ex3">Max %</label>
            <input class="form-control" id="max" type="number" ng-model="max">
          </div>
          <div class="col-xs-2">
              <label for="ex2">Min %</label>
              <input class="form-control" id="min" type="number" ng-model="min">
            </div>
          <div class="col-xs-2">
            <label for="ex3">Factor</label>
            <input class="form-control" id="factor" type="number" ng-model="factor">
          </div>
          <div class="col-xs-2">
            <button type="submit" class="btn btn-default" ng-click="getData(k, max, min, factor)" style="margin-top: 23px;">Run</button>
          </div>
        </div>
      </form>
    </div>

    
    <div id="map"></div>
   

    <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.0.1/lodash.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBs35QKJfPGL-1gPg5KgBKXdEI2xRKHrf4" async defer></script>
    <!-- <script src="script.js"></script> -->
    <script type="text/javascript">
      angular.module('map-example', [])
        .controller('MapController', function($scope, $rootScope, $compile, $http) {

            $scope.k = 4;
            $scope.max = 20;
            $scope.min = 1;
            $scope.factor = 1.5;

            $scope.showDetails = function (event) {
              var contentString = '<b>' + this.name + ' ($' + this.income + ')</b><br><br>';
              for(var i = 0; i < this.routes.length; i++){

                var zone_from = Object.keys(this.routes[i])[0][1];
                var zone_to = Object.keys(this.routes[i])[0][3];
                var val = this.routes[i][Object.keys(this.routes[i])[0]];

                var temp = '<p>Zone ' + zone_from + ' - Zone ' + zone_to + ': $' + val + '<br>';
                contentString += temp;

              }
              $scope.infoWindow.setContent(contentString);
              $scope.infoWindow.setPosition(event.latLng);
              $scope.infoWindow.open($scope.map);
            };

            $scope.getData = function (k, max, min, factor) {

              var url = "http://localhost:8080/result?zones=" + k + "&max=" + max + "&min=" + min + "&factor=" + factor; 

              $http.get(url)
                .then(function(response) {

                      var data = response.data;

                      console.log(JSON.stringify(data));

                      var nta_multipolygon = [];
                      
                      for(var i = 0; i < data.length; i++){

                        data[i]['polygon'] = [];

                        for(var j = 0; j < data[i]['geom']['coordinates'].length; j++){

                          for(var k = 0; k < data[i]['geom']['coordinates'][j].length; k++){


                            for(var x = 0; x < data[i]['geom']['coordinates'][j][k].length; x++){

                              data[i]['polygon'].push({
                                lat: data[i]['geom']['coordinates'][j][k][x][1],
                                lng: data[i]['geom']['coordinates'][j][k][x][0]
                              });

                            }

                          }

                        }

                      }
                        

                      var outerCoords = [
                        {lat: -32.364, lng: 153.207}, // north west
                        {lat: -35.364, lng: 153.207}, // south west
                        {lat: -35.364, lng: 158.207}, // south east
                        {lat: -32.364, lng: 158.207}  // north east
                      ];

                      var outerCoords2 = [
                        {lat: -42.364, lng: 143.207}, // north west
                        {lat: -45.364, lng: 143.207}, // south west
                        {lat: -45.364, lng: 148.207}, // south east
                        {lat: -42.364, lng: 148.207}  // north east
                      ];

                      var points = [outerCoords, outerCoords2];
                      var colors = ['red', 'green', 'yellow', 'blue', 'orange', 'gray', 'white'];

                      var names = ['Tom', 'Thomas'];


                      for(var a = 0; a < data.length; a++){

                        var neighborhood = new google.maps.Polygon({
                          paths: data[a]['polygon'],
                          strokeColor: 'gray',
                          strokeOpacity: 0.8,
                          strokeWeight: 2,
                          fillColor: colors[data[a]['zone']],
                          fillOpacity: 0.35,
                          name: data[a]['ntaname'],
                          routes: data[a]['routes'],
                          income: data[a]['income']
                        });
                        neighborhood.setMap($scope.map);
                        neighborhood.addListener('click', $scope.showDetails);

                      }

                      $scope.infoWindow = new google.maps.InfoWindow;

                      
                });

              
            };


            function initialize() {

                $scope.map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 11,
                    center: {lat: 40.755361, lng: -73.978515} 
                });

                // $scope.getData(5, 10, 50, 2);
                
            }

            google.maps.event.addDomListener(window, 'load', initialize);

        });
    </script>
</body>

</html>