<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>

<body bgcolor="#EEEEEE">
<div id="content" align="center">

    <br><br><br>

    <img src="../static/images/logo.png"/>
    <h1><font face="Baskerville Old Face">Bluebikes New Station Management Center</font></h1>
    <br>
    <h2><font face="Baskerville Old Face">Designed by</font><font face="Bradley Hand ITC"> Yufeng Chen</font></h2>
    <h2><font face="Baskerville Old Face">yufeng72@bu.edu</font></h2>
    <br>
    <h2><a href='/showSchool'><font face="Agency FB">Find Colleges and Universities</font></a></h2>
    <h2><a href='/showStation'><font face="Agency FB">Find Bluebikes stations</font></a></h2>
    <h2><a href='/showAll'><font face="Agency FB">All Schools and Bike Stations</font></a></h2>
    <h2><a href='/placeNew'><font face="Agency FB">Best Locations for New Bike Stations</font></a></h2>

</div>
</body>
</html>