<!doctype html>
<html>
    <head>
        <title>Mapped out stops : {{ name }}</title>
    </head>

    <body>
        <form method="post" action="updateMapBefore">
            <input type="submit" value="Show Stops Before"/>
        </form>

        <form method="post" action="updateMapAfter">
            <input type="submit" value="Show Stops After"/>
        </form>

        <iframe id="serviceFrameSend" src="{{ url_for('static', filename= 'dispmap.html')}}" height="400" width="600"></iframe>
        
    </body>
</html>





<!-- <object type="text/html" data="dispmap.html"></object> -->

