<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>
    <!-- D3 import-->
    <script src="https://d3js.org/d3.v5.js"></script>
    <link rel="stylesheet" href="../static/index.css">

    <title>Title</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
<h1>HI THERE</h1>
<div id="map"></div>

<div class="container">
    <form id="myFormId" method="post">
        KMeans: <input type="number" id="num_kmeans" name="kmeans" step="1" min="1" value="1">
        Neighborhood: <input type="text" id="neighborhood_form" name="neighborhood" value="Allston">
        <div class="slidecontainer">
            Distance<input type="range" min="1" max="100" value="50" class="slider" id="myRange" name="weight"> Health
        </div>
        <input type="submit">

    </form>

    <div>
        <h2>About</h2>
        <h5>In this project, we aim to try to find the best places to add
            new parks in each of the neighborhoods in Boston based on various
            health statistics as well as access to open spaces. </h5>
    </div>

    <p id="neighborhood">

    </p>
    <p>

    </p>
</div>
</body>
<script>
    {% if neighborhoods is defined and neighborhoods %}
        let neighborhoods = {{ neighborhoods|tojson }};
    {% endif %}

    {% if assessments is defined and assessments %}
        let assessments = {{ assessments|tojson }};
    {% endif %}

    {% if censusshape is defined and censusshape %}
        let censusshape =  {{ censusshape|tojson }};
    {% endif %}
    {% if name is defined and name %}
        let name123 =  {{ name123}};
        {% else %}
        let name123 = null;
    {% endif %}

    {% if kmeans is defined and kmeans %}
        let kmeans =  {{ kmeans|tojson}};
    {% else %}
        let kmeans = null;
    {% endif %}
</script>
<script type="text/javascript" src="../static/index.js"></script>
</html>