<!DOCTYPE html>
<!--<text>This is our Flask App!</text><br>-->
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  padding:1px;
}
</style>
</head>
<body>

<!--<h2>Bordered Table</h2>
<p>Use the CSS border property to add a border to the table.</p> -->

<button type="button" onclick="window.location.href='http://127.0.0.1:5000/accidents'">GO TO ACCIDENT MAP</button><br>

<table style="width:75%">
  <tr>
    <th>Vehicle Type</th>
    <th>Mean (all clusters)</th> 
    <th>Standard Deviation (all clusters)</th>
  </tr>
  <tr>
    <td>Motor Vehicle</td>
    <td>561.74</td>
    <td>199.46</td>
  </tr>
  <tr>
    <td>Bike</td>
    <td>77.22</td>
    <td>60.16</td>
  </tr>
  <tr>
    <td>Pedestrian</td>
    <td>142.82</td>
    <td>92.87</td>
  </tr>
</table>
<br>

<button type="button"onclick="window.location.href='http://127.0.0.1:5000/crimes'">GO TO CRIME MAP</button><br>

<table style="width:75%">
  <tr>
    <th>Incident Type</th>
    <th>Mean (all clusters)</th> 
    <th>Standard Deviation (all clusters)</th>
  </tr>
  <tr>
    <td>Motor Vehicle</td>
    <td>561.74</td>
    <td>199.46</td>
  </tr>
  <tr>
    <td>Bike</td>
    <td>77.22</td>
    <td>60.16</td>
  </tr>
  <tr>
    <td>Pedestrian</td>
    <td>142.82</td>
    <td>92.87</td>
  </tr>
</table>

</body>
</html>