<!DOCTYPE html>
<html lang="en">
<head>
    <title>About This App</title>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="./static/about.css">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>

    <div class="container about-us">

        <div class="row">
            <h2>
                Taking Gender Equity to the Streets
            </h2>
        </div>
        <div class="row">
            <h4>
                A project completed by Kerin Grewal and Stephanie Shin
            </h4>
        </div>
        <div class="row">
            <h4>
                Curated by <a href="https://www.boston.gov/departments/womens-advancement">
                    The Mayor's Office of Women's Advancement at the City of Boston </a>
            </h4>
        </div>

        <div class="row">
            <p>
                Representation is one of MOWA's priority areas.
                We recognize that male names and pronouns are often the default and given Boston's long parochial history,
                we want to make sure our City represents its current demographics (52% women).
                That said, we'd also like to know if there are streets that are good candidates for re-naming (repetitive, etc.).
            </p>
        </div>

        <div class="row">
            In order to find the best possible candidates for re-naming. We analyzed the following factors/datasets:
            <ul>
                <li>
                    The street names in Boston and their genders
                </li>
                <li>
                    Boston landmarks and their locations/street names
                </li>
                <li>
                    Boston public schools and their locations/street names
                </li>
                <li>
                    Uber data within Boston
                </li>
                <li>
                    ... And more!
                </li>
            </ul>
        </div>

        <div class="row">
            <h3>
                You are now able to see an interactive map where you can filter by neighborhood and
                view the different streets that are good candidates for renaming.
            </h3>
        </div>

        <div class="row">
            <a href="/" class="btn btn-success start-btn">GET STARTED!</a>
        </div>




    </div>

</body>
</html>