<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Kerin & Stephanie's Final Project!</title>

        {{"decoupled-map"|googlemap_js(42.3601, -71.0589, markers=[(42.3601, -71.0589)])}}
            {{mymap.js}}
            {{sndmap.js}}
    </head>


    <body>
        <h1>Let's rename streets!</h1>

        <h1>Flask Google Maps Example</h1>

        <h2> Template function centered, no marker </h2>
        {{googlemap("simple-map", 42.3601, -71.0589)}}

        <h2> Template filter decoupled with single marker </h2>
        {{"decoupled-map"|googlemap_html(42.3601, -71.0589)}}

        <h2> Template function with multiple markers </h2>
        {% with map=googlemap_obj("another-map", 42.3601, -71.0589, markers=[(42.3601, -71.0589), (42.3501, -71.0589)])
        %}
            {{map.html}}
            {{map.js}}
        {% endwith %}

        <h2> First map generated in view</h2>
        {{mymap.html}}

        <h2> Second map generated in view</h2>
        <h3> Example for different icons in multiple markers with infoboxes</h3>
        {{sndmap.html}}

    </body>
</html>