<head>
    <title>BikeProj</title>
</head>

<form action="/execute/" method="POST">

						<h4>Budget</h4>

						<div class="form-group" id="#signup-form">
							<input type="number" class="form-control" placeholder="Budget" name="budget">
						</div>
						
						<br>
						<h4>City</h4>

						<div class="form-group">
							<input type="radio"
							       class="form-control"
							       placeholder="City"
							       name="city"
							       value =
							       "0">Boston<br>
							<input type="radio"
							       class="form-control"
							       placeholder="City"
							       name="city"
							       value =
							       "1">Washington<br>
							<input type="radio"
							       class="form-control"
							       placeholder="City"
							       name="city"
							       value =
							       "2">New York<br>
							<input type="radio"
							       class="form-control"
							       placeholder="City"
							       name="city"
							       value =
							       "3">Chicago<br>
							<input type="radio"
							       class="form-control"
							       placeholder="City"
							       name="city"
							       value =
							       "4">San Francisco<br>
						</div>
						
						<br>
						<h4>Station Size (number of docks)</h4>
						
						<div class="form-group">
							<input type="radio"
							       class="form-control"
							       placeholder="Station Size (number of docks)"
							       name="size"
							       value =
							       "11">11<br>
							<input type="radio"
							       class="form-control"
							       placeholder="Station Size (number of docks)"
							       name="size"
							       value =
							       "15">15<br>
							<input type="radio"
							       class="form-control"
							       placeholder="Station Size (number of docks)"
							       name="size"
							       value =
							       "19">19<br>
						</div>
						
						<br>
						
						<button type="submit" value="Search" class="btn btn-default submit">Run Algorithm</button>
					</form>
