<html>
    <head>
      <title>{{ title }} - CS504 SPR 2019</title>
      <title>Welcome to Project Pharmacy</title>
      <link rel="stylesheet" type="text/css" href="main.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      
    </head>

    <body>
        


        <div class="p-3 mb-2 bg-transparent">
            <h1 class="display-5 text-center text-dark">Project Pharmacy</h1>
            <ul>
                <li><a href="/index">Home</a></li>    
                <li><a href="/task1">Task I</a></li>
                <li><a href="/task2">Task II</a></li>
                <li><a href="/report">Report</a></li>
                <li><a href="/feedback">Feedback</a></li>

            </ul>
        </div>

        
             

        <hr>

        {% block content %}{% endblock %}
    </body>
</html>