{% extends "base.html" %}

{% block content %}
    <h2 style = "text-align: center;">Please Leave your Feedback</h2>


    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <fieldset>
            <legend>Feedback Form</legend>
            <div style = font-size:20px; font-weight:bold; margin-left:350px;>
                <p>
                    {{ form.Name.label }} <br>
                    {{ form.Name }}
                </p>

                <p>
                    {{ form.Ratings.label }} <br>
                    {{ form.Ratings }}
                </p>
                <p>
                    {{ form.Comments.label }} <br>
                    {{ form.Comments }}
                </p>

                <p>{{ form.Submit }}</p>

            </div>
        </fieldset>
    </form>
{% endblock %}