<!DOCTYPE html>
<html lang="en">
<style>
    .graph-text {
        position: relative;
        float: right;
        margin-right: 20%;
    }
    #p1 {
        font-size: 25px;
        margin-right: 55%;
    }
    #p2 {
        font-size: 25px;
        margin-left: 50%;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <img src="../img/topTen.png">
    <div class = "graph-text">
        <p id = 'p1'>Voter data on yes vs. no questions on propositions. Data was aggregated based on different towns. Diagram does not take blanks into account.
This shows the tendencies of the cities with the large population in the state.
        </p>
    </div>
<img src="../img/pie1.png">
    <div class = "graph-text">
    <p id ='p2'>Results show a generally neutral stance from most of the precincts throughout the years.
    About 75% of the precincts fall between a score of 2.50- 3.0.
    However in total 75% of the precincts show a relatively more progressive stance in contrast with 25% of them that have a more conservative one.
</p>
<img src="../img/pie2.png">
    </div>

</body>
</html>